{% extends "base.html" %}
{% block title %} Blogpost : {{filepath}} {% end %}

{% block body %}

<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<style>

body, html{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

#editor{
    height: 92%;
    width: 100%;
    position: absolute;
    top: 40px;
}

textarea, #editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 0px;
}

#editor div{
    overflow: auto;
    margin-top: 20px;
}

textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}

code {
      color: #f66;
}

</style>

<div id="app">

<navbar placement="static" type="default">
    <li slot="left">
        <form class="form-inline navbar-form">
            <bs-input label="標題" v-model="title"></bs-input>
        </form>
    </li>
    <dropdown text="圖片">
        <li v-for="img in image_list">
            <a href="#" @click="img_ctrl.show=true;img_ctrl.filename=img;">%{img}</a>
        </li>
        <li><a href="#" @click="img_upload.show=true;">上傳圖片</a></li>
    </dropdown>
    <li slot="left">
        <a @click="testMathjax" href="#">測試Mathjax</a>
    </li>
    <li slot="left">
        <form class="navbar-form navbar-left">
            <button class="btn btn-default" @click="saveBlogpost(); saveTitle();" :disabled="is_saved">儲存</button>
        </form>
    </li>
    <li slot="left">
        <a @click="leave" href="#">離開</a>
    </li>
</navbar>

<div id="editor">
    <textarea :value="blogpost" @input="updateBlogpost(event); is_saved=false;"></textarea>
    <div v-html="markupBlogpost"></div>
</div>

<modal v-model="img_ctrl.show">
    <div slot="modal-header" class="modal-header">
        <h4 class="modal-title"> 圖片: %{img_ctrl.filename} </h4>
    </div>

    <img style="max-width:100%" :src="'/blogdb/' + filepath + '/' + img_ctrl.filename"/>
    <br>
    <button class="btn btn-danger" @click="deleteImage();img_ctrl.show=false;">刪除圖片</button>

    <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-default" @click="img_ctrl.show=false">關閉</button>
    </div>
</modal>

<modal v-model="img_upload.show">
    <div slot="modal-header" class="modal-header">
        <h4 class="modal-title"> 上傳圖片 </h4>
    </div>
    <div>
    <input label="file" type="file" @change.prevent="setImage"/>
    <bs-input label="filename" type="text" v-model="img_upload.filename"/>
    </div>
    <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-default" @click="img_upload.show=false">取消</button>
        <button type="button" class="btn btn-primary" @click="img_upload.show=false;uploadImage();">上傳</button>
    </div>
</modal>

</div>

<script>

function markup(data, path){
    content = marked(data);
    var elem = document.createElement('div');
    elem.innerHTML = content;

    // Rewrite image url

    var images = elem.getElementsByTagName('img');
    for(var i = 0; i < images.length; i++){
        var image = images[i];
        var src = image.getAttribute('src');
        console.log(src);
        if(src.indexOf('//') == -1 && src[0] != '/')
            src = path + '/' + src;
        image.src = src;
        image.style.maxWidth = '100%';
    }

    return elem.innerHTML;
}

Date.prototype.toString = function() {
    var yyyy = this.getFullYear();
    var mm = this.getMonth() < 9 ? '0' + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
    var dd  = this.getDate() < 10 ? '0' + this.getDate() : this.getDate();
    var hh = this.getHours() < 10 ? '0' + this.getHours() : this.getHours();
    var min = this.getMinutes() < 10 ? '0' + this.getMinutes() : this.getMinutes();
    var ss = this.getSeconds() < 10 ? '0' + this.getSeconds() : this.getSeconds();
    return ''.concat(yyyy).concat('/').concat(mm).concat('/').concat(dd).concat(' ')
             .concat(hh).concat(':').concat(min).concat(':').concat(ss);
};

var app = new Vue({
    el: '#app',
    delimiters: ['%{','}'],
    data: {
        blogpost : '',
        title : '',
        filepath : '{{filepath}}',
        image_list : [],
        is_saved : true,
        img_ctrl : {
            show : false,
            filename : '',
        },
        img_upload : {
            show : false,
            file : null,
            filename : ''
        },
    },
    components: {
        bsInput: VueStrap.input,
        navbar: VueStrap.navbar,
        dropdown : VueStrap.dropdown,
        modal : VueStrap.modal,
    },
    computed : {
        markupBlogpost : function(){
            return markup(this.blogpost, '/blogdb/' + this.filepath);
        }
    },
    created : function(){
        this.$http.get('/api/blog/' + this.filepath, {}, {
        }).then(function(ret){
            this.blogpost = ret.body.md;
            this.title = ret.body.title;
        }, function(ret){
            this.blogpost = '';
        });

        this.$http.get('/api/image/' + this.filepath, {}, {
        }).then(function(ret){
            this.image_list = ret.body;
        });
    },
    ready : function(){
    },
    methods : {
        testMathjax : function(){
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, document]);
        },
        updateBlogpost: _.debounce(function (e) {
            this.blogpost = e.target.value;
            //this.saveBlogpost();
        }, 500),
        updateTitle: _.debounce(function (e) {
            this.saveTitle();
        }, 60000),
        saveBlogpost : function(){
            this.$http.patch('/api/blog/' + this.filepath, {}, {
                params: {
                    md: this.blogpost,
                }
            }).then(function(){
                this.is_saved = true;
            });
        },
        saveTitle : function(){
            this.$http.patch('/api/blog/' + this.filepath, {}, {
                params: {
                    title: this.title,
                }
            });
        },
        setImage : function(e){
            this.img_upload.file = e.target.files[0];
        },
        deleteImage : function(){
            this.$http.delete('/api/image/' + this.filepath, {
                params: {
                    filename: this.img_ctrl.filename,
                }
            });
            ind = this.image_list.indexOf(this.img_ctrl.filename);
            this.image_list.splice(ind, 1);
        },
        uploadImage : function(){
            data = new FormData();
            data.append('file', this.img_upload.file);
            data.append('filename', this.img_upload.filename);
            data.append('method', 'uploadImage');
            this.image_list.push(this.img_upload.filename);
            this.$http.post('/api/image/' + this.filepath, data).then(function(){ 
                console.log('success!');
            });
        },
        leave : function(){
            window.location.href = '/blog/';
        }
    }
});

</script>

{% end %}
