{% extends "template.html" %}

{% block body %}

<style>

a.title{
  text-decoration: none;
  color: black;
}

h2 > small{
  color: #999999;
}

div.content{
  padding-bottom: 15px;
}

div.tag-box{
  position: fixed;
  left: 10px;
  top: 10px;

  width: 100px;
}

div.tag{
  font-size: 14px;
  background-color: rgba(201, 165, 248, 0.5);
  cursor: pointer;
  padding: 3px;
  margin: 3px;
  text-align: center;
}

div.tag:hover{
  background-color: rgba(201, 165, 248, 0.7);
}

div.blog-list {
  padding: 10%;
  padding-top: 5px;
}

</style>

<div class="tag-box">
  {% for tag in tags_count %}
    <div
      class="tag"
      onclick="location.href='/blog/?tag={{url_escape(tag)}}'">
        {{tag}}: {{tags_count[tag]}}
    </div>
  {% end %}
</div>

<div class="blog-list">

{% for bp in blogpost_list %}

<a href="/blog/{{bp['datetime']}}/{{bp['filename']}}/" class="title">
  <h2>
    {{bp['title']}} <small> {{bp['datetime']}} </small>
  </h2>
</a>

<div class="content">
  {% raw bp['abstract'] %}
  <a href="/blog/{{bp['datetime']}}/{{bp['filename']}}/"
     style="text-decoration:none;">...繼續閱讀</a>
</div>

<hr/>

{% end %}

</div>

<div class="right-menu">
  <div class="item" onclick="location.href='/'"> 主畫面 </div>
  <div class="item" onclick="location.href='/blog/'"> 網誌區 </div>
  <div class="item" onclick="location.href='/piki/'"> Piki </div>
</div>

{% end %}