{% extends "template.html" %}

{% block body %}

<style>

img {
max-width: 100%;
}

</style>

<div class="white-space">

  <div>
  / <a href='/piki/'> piki </a> /
  {% for bc in breadcrumb %}
  <a href="{{bc['link']}}">{{bc['text']}}</a> /
  {% end %}
  </div>

  {% raw content %}

  <hr>
    <script src="https://utteranc.es/client.js"
      repo="{{ github_comment_source }}"
      issue-term="pathname"
      theme="github-light"
      crossorigin="anonymous"
      async>
    </script>
  <hr>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });
</script>

<div class="right-menu">
  <div class="item" onclick="location.href='/'"> 主畫面 </div>
  <div class="item" onclick="location.href='/blog/'"> 網誌區 </div>
  <div class="item" onclick="location.href='/piki/'"> Piki </div>
</div>

{% end %}