{% extends "template.html" %}

{% block body %}

<style>

img {
max-width: 100%;
}

</style>

<div class="white-space">

  <div>
  / <a href='/piki/'> piki </a> /
  {% for bc in breadcrumb %}
  <a href="{{bc['link']}}">{{bc['text']}}</a> /
  {% end %}
  </div>

  {% raw content %}

  <hr>
  留言請至<a href="{{ github_comment_url }}/issues?q=is%3Aissue+is%3Aopen+{{ full_name }}">Git Issue</a>留言，找到標題為 <code>{{ full_name }}</code> 的 Issue，假如沒有，請新增。
  <hr>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });
</script>

<div class="right-menu">
  <div class="item" onclick="location.href='/'"> 主畫面 </div>
  <div class="item" onclick="location.href='/blog/'"> 網誌區 </div>
  <div class="item" onclick="location.href='/piki/'"> Piki </div>
</div>

{% end %}